@import "tailwindcss";
@import "./base.css";

/* color partially pick from element plus */
@theme {
  --color-primary: oklch(69% 0.16 252.19);
  --color-primary-dark: oklch(55% 0.13 251.72);
  --color-warning: oklch(76% 0.14 73.31);
  --color-warning-dark: oklch(60.46% 0.1 73.75);
  --color-error: oklch(70% 0.169 22.43);
  --color-error-dark: oklch(56% 0.13 22);
  --color-success: oklch(73.06% 0.19112 137.246);
  --color-success-dark: oklch(58% 0.15 137.08);
}
